@import "koloroj";

html {
   background-color: $revo;
   color: $neĝo;
}

.titolo {
   font-family: 'Nunito', sans-serif;
   text-align: center;
   letter-spacing: 3px;

   h1 {
      margin-bottom: 0;
   }
}

.subtitolo {
   font-family: 'Lato', sans-serif;
   margin-top: 0;
   letter-spacing: initial;
}

.serĉilo, .centro {
   text-align: center;
}

.serĉiTeksto {
   border: $neĝo solid 2px;
   background-color: $revo;
   color: $neĝo;
   padding: 7px;
   width: 177px;
}

.serĉiButono {
   margin-left: 10px;
   padding: 7px;
   border: $neĝo solid 2px;
   background-color: transparent;
   color: $neĝo;
}

.enhavo {
   max-width: 700px;
   margin: 10px auto;
   padding: 0 3px;
}

input {
   font-family: 'Lato', sans-serif;
}

a {
   text-decoration: none;
   text-shadow: 0 0 4px $neĝo;

   &:link, &:visited {
      color: $neĝo;
   }

   &:hover {
      text-shadow: 0 0 8px $neĝo;
   }
}

.malgranda {
   font-size: 0.8em;
}