@page "/"

<PageTitle>Krestia</PageTitle>

<p>
    Krestia is an engineered language that I have been working on since late 2019. It is designed to be a formal
    language like Lojban and has a minimalistic phonetic inventory.
</p>
<p>
    On this website, you can use the search bar to look up words, even in their inflected forms. In addition, you can
    use the parser to parse one or more sentences. You can also view the full lexicon in the following formats:
</p>

<ul>
    <li>
        <a href="/wordlist">Full alphabetical list</a>
    </li>
    <li>
        <a href="/typedlist">Alphabetical grouped by word type</a>
    </li>
    <li>
        <a href="/categorylist">Alphabetical grouped by categories</a>
    </li>
</ul>

<div>
    <h2>Changelog</h2>
    <h3>v0.1.0</h3>
    <ul>
        <li>Rewrite of the app in Blazor, from the previous version written in React.</li>
    </ul>
</div>

<div class="streko"></div>
<p>
    The content of the dictionary is released into the public domain. The 
    <a href="https://github.com/Sam647254/Krestia-vortaro" target="_blank" rel="noopener noreferrer">source code</a> is
    available under the <a href="https://unlicense.org" target="_blank" rel="noopener noreferrer">Unlicense</a>.
</p>