@inherits LayoutComponentBase

<div class="page">
    <div class="titolo">
        <h1><a href="/">Krestia</a></h1>
    </div>
    
    <SearchBar />

    <main class="enhavo">
        @Body
    </main>
</div>